/*
-Contenedores
-Titulos
-Iconos
-Links
-Hovers
*/

/*CONTENEDORES*/
.Contenedor_Header {
  text-align: center;
  background-color: #212529;
  color: #F8F9FA;

  margin-bottom: 5%;

  -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
}

.Contenedor_Iconos {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/*TITULOS*/
.Titulo_Header {
  padding-top: 12px;
}

/*ICONOS*/
.Icono_Github {
  font-size: 50px;
  padding-left: 5px;

  transition: color .3s;
}

.Icono_Youtube {
  font-size: 50px;
  padding-right: 5px;

  transition: color .3s;
}

/*LINKS*/
.Link_Icono_Github,
.Link_Icono_Youtube {
  color: #F8F9FA;
}

/*HOVERS*/
.Link_Icono_Youtube:hover {
  color: #EC7063;
}

.Link_Icono_Youtube:active {
  color: #E74C3C;
}

.Link_Icono_Github:hover {
  color: #ABB2B9;
}

.Link_Icono_Github:active {
  color: #808B96;
}